# Data Science Tools and Ecosystem

In this Notebook , the data science tools and ecosystems are summarized.

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. scikit - learn
4. matplotLib

|s.no|Data Science Tools|
|-   |----------------- |
|1   |jupyter notebook  |
|2   |R studio          |
|3   |Syder             |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to multiply then add integers:

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [4]:
minutes = 200
hours = minutes / 60
print("{} minutes is equal to {} hours.".format(minutes, hours))

200 minutes is equal to 3.3333333333333335 hours.

list popular languages for data science
* python
* R
* SQL
* Julia
* Java script

## AUTHOR

Lakshmi holla, Nivedidha pandith.